::-webkit-scrollbar {
    /*Para ocultar la barra de desplazamiento*/
    display: none; 
}

html {
    /* The image used */
    background-image: url(../images/fondo1_copia.jpg );
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    width: 100%;
    margin-bottom: min(10vh, 33%);
    margin-top: 10vh;
    background-color: transparent;
}


h1 {
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
}

.card{
    width: min(max(10rem, 30%), 48%);
    height: min(max(10rem, 30%), 48%);
    border-color: transparent;
    background-color: transparent;
    color:#fff;
    align-items: center;
}

.card-img{
    max-width: 5rem;
    max-height: 5rem;
}

#CLASIFICADOS{
    margin-top: 10vh;
    font-size: clamp(2rem,5vw,3.5rem);
}

#CATEGORIAS{
    background:rgba(1,17,58,0.46);
    margin-left:20vw;
    margin-right: 20vw;
    margin-bottom: 10vh;   
}



